#idea stuff
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

resources/dataset/
resources/requests/
resources/features/
resources/history/
resources/dataset/processed/*/output
resources/model-data/
venv/